<footer>
    <div class="logo">
        <img src="../img/logo.png">
    </div>
    <div class="footer-top">
        <div class="container">
            <div class="footer-col nav">
                <h3>Навигация</h3>
                <ul>
                    <li class="active"><a href="#">О компании</a></li>
                    <li><a href="#">Преимущества</a></li>
                    <li><a href="#">Услуги</a></li>
                    <li><a href="#">Новости</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </div>
            <div class="footer-col services">
                <h3>Услуги</h3>
                <ul>
                    <li class="active"><a href="#">Воспалительные процессы</a></li>
                    <li><a href="#">Обследование онкологий</a></li>
                    <li><a href="#">Гормональные нарушения</a></li>
                    <li><a href="#">Последствия климакса</a></li>
                    <li><a href="#">Методы контроцепции</a></li>
                    <li><a href="#">Трудности беременности</a></li>
                </ul>
            </div>
            <div class="footer-col hts">
                <h3>Контакты</h3>
                <div class="col--address">
                    <p>Казахстан, Алматы, <br> 
                       ул. Райымбека, д. 150</p>
                </div>
                <a href="#" class="col--email">gulnarkassenova5@gmail.com</a>
            </div>
            <div class="footer-col">
                <h3>Телефон</h3>
                <a href="#" class="col--phone">+7 (727) 233-50-70</a>
                <div class="col--mobile">
                    <a href="#">+7 (747) 094-02-02</a>
                    <a href="#">+7 (705) 148-62-08</a>
                    <a href="#">+ 7 (701) 760-85-40</a>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <p>Copyright © 2018 company.medelement.com.All Rights Reserved </p>
            <a href="https://artmedia.kz" target="_blank" class="artmedia">Создание сайта - <img src="img/artmedia.png"></a>
        </div>
    </div>
    
</footer>