<header>
    <a href="#" class="nav--btn">
        <span></span>
        <span></span>
        <span></span>
    </a>
    <a href="#" class="phone--btn"></a>
    <a href="#" class="write-btn" data-modal="#modal--write"></a>
    <div class="top">
        <div class="container">
            <div class="address">
                <p>Медицинский центр — г. Алматы, ул. Райымбека, д. 150</p>
            </div>
            <div class="hts">
                <div class="col--time">
                    <p>График работы</p>
                    <a href="#" class="more-btn"></a>
                    <ul>
                        <p>8:00 - 17:00</p>
                    </ul>
                </div>
                <div class="col--phone">
                    <a href="#">+7 (747) 094-02-02</a>
                    <a href="#" class="more-btn"></a>
                    <ul>
                        <li><a href="#">+7 (747) 094-02-02</a></li>
                        <li><a href="#">+7 (747) 094-02-02</a></li>
                        <li><a href="#">+7 (747) 094-02-02</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="container">
            <a href="index.html" class="logo">
                <img src="../img/logo.png">
            </a>
            <ul class="nav">
                <li class="active"><a href="about.html">О центре</a></li>
                <li><a href="#">Услуги</a></li>
                <li><a href="#">Команда</a></li>
                <li><a href="#">Прайс-лист</a></li>
                <li><a href="#">Отзывы </a></li>
                <li><a href="#">Вакансии </a></li>
                <li><a href="#">Новости </a></li>
                <li><a href="contacts.html">Контакты</a></li>
            </ul>
            <a href="#" class="write--btn btn" data-modal="#modal--write">Написать нам</a>
            <div class="langs">
                <span>Рус</span>
                <a href="#" class="more-btn"></a>
                <ul>
                    <li><a href="#">Каз</a></li>
                    <li><a href="#">Eng</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>